/* Mobile Design */
@media screen and (max-width:576px)
            
{
    
    /* Banner area */
    .container .banner-area{
        flex-direction: column;
        height: auto;
    }
    .banner-area .banner-content {
        padding-left: 0;
        text-align: center;   
    }
    .container .banner-area .banner-content
        h1{
        width: auto;
        font-size: 80px;
        line-height: 70px;
        
    }
    .container .banner-area .banner-img img{
        width: 100%;
     }

    /* Banner end */

    /* Body area */
    .container .body-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;    
    }
    .body-area .match-area{
        width: 100%;
        background: none;
    }
    .body-area .match-zone-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .body-area .match-zone-area {
        width: 100%;
        height: auto;
    }
    /* Body area end */
    /* Footer area  */
   #footer{
    height: auto;
    background: #0000;
}
.footer-navigation{
    display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        background: rgb(24, 23, 23);
}

.footer-area .social-area{
    margin-top: 0;
    background: rgb(24, 23, 23);
    padding-top: 16px;
    
}


/* Footer area responsive end */
 /* View all */
    #tab-btn{
        visibility: hidden;
    }
}

/* Mobile Design End*/
/* Medium Size Start */
/* Medium Screen Start  */
@media screen and (min-width:576px) and (max-width:992px){
/* Banner area */
    .container .banner-area .anner-content h1{
        width: auto;
        font-size: 80px;
        line-height: 60px;
        }
    .banner-area .banner-content {
        padding-left: 15px;     
    }

    .banner-area .banner-image img{
        width: 100%;
     }

    /* Banner area end */
    /* Body area */
   .container .body-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;
    }

    .body-area .match-area{
        width: 100%;
        background: none;
        height: 200px;
    }

    .body-area .match-area .match-area-content{
        display: flex; 
         flex-direction: row;
     }

     .body-area .match-zone-area , .body-area .up-match-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
    }
    .body-area .match-zone-area .match-Zone-card{
        width:auto;
        height: auto;
    }

    /* Body Responsive End */
     /* View all*/
    #tab-btn{
       visibility: visible;
       margin-top: 25px;
    }
    
}
/* Medium Size Design End */