/* Mobile Design Start Here */
@media screen and (max-width:577px) 
            
{
    
    /* Banner area Responsive Start Here */
    .container .banner-area{
        flex-direction: column;
        height: auto;
    }
    .banner-area .banner-content {
        padding-left: 0;
        text-align: center;   
    }

    /* Banner area Responsive End Here */

    /* Body area Responsive Start Here */
    .container .body-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: auto;
        
    }

    .banner-area .banner-image img{
       width: 100%;
    }


    .body-area .match-area{
        width: 100%;
        background: none;
    }

    .body-area .match-zone-card , .body-area .match-zone-card {
        width: 100%;
        height: auto;
    }

    .body-area .match-card {
        height: 212px;
    }



    .body-area .match-zone-area{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Body area Responsive End Here */

    /* Footer area responsive Start Here */
    #footer{
        height: auto;
    }
    .footer-navigation{
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        background-color: #0000;
    }
     

    /* Footer area responsive Ed Here */


    /* View all Button */
    #view-all-btn{
        visibility: hidden;
    }
}

/* Mobile Design End Here */